# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.output/
.nuxt/
build/
.wrangler/

# Environment variables
.env
.env.local
.env.*.local
.dev.vars

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# OS
Thumbs.db

# Temp
*.tmp
.cache/